.nav {
    margin: 0 0 1rem 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.dot {
    size: 100;
}

.step{
    list-style: none;
    position: relative;
    text-align: center;
    width: 250px;
}

.step::before{
    margin-left: 15%;
    margin-right: 15%;
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    width: 70%;
    right: 50%;
    transform: translateY(-50%);
    z-index: -1;
    background: linear-gradient(to left, #b7b7b7 50%, #4db193 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 200ms ease-in-out;
}

.step:first-child::before {
    content: none;
  }

.active {
    background-color: var(--blue);
    opacity: 1;
    text-shadow: 0 0px 8px;
}

.active::before{
    content: '';
    position: absolute;
    top: 50%;
    height: 3px;
    right: 50%;
    transform: translateY(-50%);
    z-index: -1;
    background: linear-gradient(to left, #001a72 50%, #4db193 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 200ms ease-in-out;
}