.main{
    width: 100%;
    text-align: center;
    padding: 50px;
    font-family: 'Rubik', sans-serif;
}

.buttonAgenda {
    width: 300px;
    height: 100px;
    background-color: #F27405;
    border: none;
    font-size: 30px;
}

.mainMiddle{
    padding: 50px;
    max-width: 1080px;
    text-align: center;
    margin: auto;
}


.textTitl{
    margin-bottom: 40px;
}

.textIntDer{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: right;
    word-wrap: break-word;
    position: relative;
    padding-top: 100px;
}

.textIntIzq{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: left;
    word-wrap: break-word;
    position: relative;
}

.imgMiddle{
    width: 400px;
}

.mainAbout{
    padding: 50px;
    max-width: 1080px;
    text-align: center;
    margin: auto;
}

.imgAbout{
    width: 300px;
}

.divAbout{
    display: flex;
    font-size: 20px;
    text-align: left;
    word-wrap: break-word;
    position: relative;
    padding-top:50px;
}

.textAbout{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 500;
}

.imgRounded{
    border-radius: 22px 22px 22px 22px;
    overflow: hidden;
}

.divMetod{
    padding: 50px;
    max-width: 1080px;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 700px) {


    .buttonAgenda {
        width: 200px;
        height: 80px;
        background-color: #F27405;
        border: none;
        font-size: 30px;
    }

    .textIntDer{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        text-align: right;
        word-wrap: break-word;
        position: relative;
        padding-top: 100px;
    }

    .imgMiddle{
        width: 220px;
    }

    .textIntIzq{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        text-align: left;
        word-wrap: break-word;
        position: relative;
    }

    .mainAbout{
        display: flex;
        flex-direction: column;
    }

    .imgAbout{
        width: 200px;
    }

    .divAbout{
        display: flex;
        flex-direction: column;
        padding-top:5px;
    }

    .textAbout{
        width: 100%;
        padding-top: 10px;
        padding-left: 0px;
        font-weight: 500;
        font-size: 15px;

    }

    .imgRounded{

    }


}