.home {
  display: flex;
  flex-direction: column;
  text-align: center;
}


@media screen and (max-width: 800px) {
  .home {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}