
.divLogo{
  margin-left: 623px;
}

.navbar-nav{
  font-size: 18px !important;
  font-family: 'Rubik', sans-serif;
  color: black !important;
}

.logo{
  width: 120px;
}

@media screen and (max-width: 800px) {
  .divLogo{
    margin-left: 0px;
  }

}