
.spantitle{
    font-size: 60px;
    color: #F8F7F1;
    font-family: 'Rubik', sans-serif;
    -webkit-text-stroke: 0.4px black;
}

@media screen and (max-width: 800px) {

    .carousel{
        width: auto;
        height: auto;
    }

}